.map {
  border-spacing: 0;
  background-color: cyan;
  width: 1000px;
  padding: 50px;
}

.tile {
  width: 100px;
  height: 100px;
  padding: 0px;
  background-size: 100px 100px;
}

.tile:hover {
  opacity: 90%;
}

.selected {
  outline-style: solid;
  outline-color: yellow;
}

.hover {
  visibility: hidden;
  background-color: white;
  opacity: 100%;
}

.tile:hover .hover {
  visibility: visible;
}
