.map {
  border-spacing: 0;
  background-color:white;
}

.tile {
  width: 197px;
  height: 197px;
  padding: 0px;
  background-size: 197px 197px;
  text-align: center;
}

.tile:hover {
  opacity: 0.9;
}

.hoverText {
  visibility: hidden;
  background-color: white;
  opacity: 1.0;
}

.tile:hover .hoverText {
  visibility: visible;
}
