.app {
  text-align: left;
}

.header {
  background-color: bisque;
  display: flex;
  align-items: center;
}

.header > h1 {
  color: goldenrod;
  margin-left: 20px;
}

.header > .user-info {
  color: blue;
  margin-left: 20px;
}

.header > button {
  background-color: olive;
  color: bisque;
	border-radius: 3px;
	border:1px solid olivedrab;
	display: inline-block;
	cursor: pointer;
	text-decoration:none;
  margin: 20px;
	padding: 6px 12px;
}
.header > button:hover {
  background-color: olivedrab;
}

.content {
  display: flex;
}
.content > .sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar > .turn-info {
  color: maroon;
  background-color: lightpink;
  padding: 10px;
  margin: 50px;
  text-align: right;
}

.sidebar > .tile-info {
  color: purple;
  background-color: lavender;
  padding: 30px 50px 50px 50px;
  margin: 0px 50px 50px 50px;
}

.sidebar > .tile-img {
  color: green;
  background-color: lightgreen;
  padding: 50px;
  margin: 0px 50px 50px 50px;
}

.tile-img > img {
  width: 100%;
}

.mapArea {
  padding: 50px;
}
